@import 'tailwindcss';

#description {
  padding: 1rem;
  width: 100%;
}
body {
  background-color: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #162456;
  color: white;
}

@keyframes fadeWords {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
}

#task {
  animation: fadeWords 4s linear infinite;
}

header li a:nth-child(1):hover {
  transition: all 0.12s ease-in-out;
  border-bottom: 2px solid #1447e6;
}

#description {
  border: 1px solid #101010;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 9px rgba(20, 20, 20, 1);
  margin-top: 40px;
  padding: 10px;
  width: 600px;
  animation: fadeWords 10s linear infinite;
}

#box {
  font-size: 19px;
  display: flex;
  justify-content: center;
}
