@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

#description {
  padding: 1rem;
  width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeWords {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#task {
  animation: fadeWords 4s linear infinite;
}

header li a:nth-child(1):hover {
  transition: all 0.12s ease-in-out;
  border-bottom: 2px solid #1447e6;
}

#description {
  border: 1px solid #101010;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 9px rgba(20, 20, 20, 1);
  margin-top: 40px;
  width: 750px;
  animation: fadeWords 10s linear infinite;
}

@media only screen and (max-width: 1200px) {
  button {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 15px;
  }

  header li button {
    display: none;
  }

  #description {
    font-size: 12px;
    width: 400px;

    /* border-bottom: 0.5px solid #fff; */
  }

  #task {
    font-size: 19px;
  }
}

@media only screen and (max-width: 600px) {
  button {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 15px;
  }

  header li button {
    display: none;
  }

  #description {
    font-size: 12px;
    width: 370px;

    /* border-bottom: 0.5px solid #fff; */
  }

  #task {
    font-size: 17px;
  }
}
