@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

#description {
  padding: 1rem;
  width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeWords {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

span {
  animation: fadeWords 4s linear infinite;
}

@media only screen and (max-width: 1200px) {
  button {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 15px;
  }
}
